.footer {
  height: 560px;
  padding: 190px 50px 0 120px;
  color: $paleCyan;
  background-color: $darkCyan;
  .logo {
    fill: white;
    width: 240px;
    margin-bottom: 35px;
  }
  &__columns {
    display: flex;
    justify-content: space-between;
    .column {
      font-family: $openSans;
      //   column 1
      &:nth-child(1) {
        width: 364px;
        font-size: 16px;
        p {
          margin-bottom: 25px;
          margin-left: 40px;
          &:nth-child(1) {
            position: relative;
            line-height: 1.5;
            &:before {
              content: url(/images/icon-location.svg);
              position: absolute;
              left: -40px;
              top: 8px;
            }
          }
          &:nth-child(2) {
            position: relative;
            &:before {
              content: url(/images/icon-phone.svg);
              position: absolute;
              left: -40px;
              top: 2px;
            }
          }
          &:nth-child(3) {
            position: relative;
            &:before {
              content: url(/images/icon-email.svg);
              position: absolute;
              left: -40px;
              top: 3px;
            }
          }
        }
      }
      //   column 2
      &:nth-child(2) {
        width: 130px;
        padding-left: 20px;
        a {
          display: block;
          margin-bottom: 20px;
        }
      }
      //   column 3
      &:nth-child(3) {
        width: 130px;
        padding-right: 35px;
        a {
          display: block;
          margin-bottom: 20px;
        }
      }
      //   column 4
      &:nth-child(4) {
        width: 290px;
        .socialLinks {
          display: flex;
          justify-content: space-between;
          width: 117px;
          margin-bottom: 180px;
          .svgCircle {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 1px solid white;
            &:nth-child(1) {
              svg {
                height: 22px;
                width: 22px;
                fill: white;
              }
            }
            &:nth-child(2) {
              svg {
                width: 15px;
                height: 15px;
                padding-top: 2px;
                fill: white;
              }
            }
            &:nth-child(3) {
              svg {
                width: 18px;
                height: 18px;
                fill: white;
              }
            }
          }
        }
        p {
          font-family: $poppins;
          font-size: 12px;
        }
      }
    }
  }
}
