.hero {
  max-width: 1700px;
  margin: 0 auto;
  background: url(/images/bg-hero-desktop.svg) $paleCyan;
  overflow: hidden;
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 47px 5.55vw 0px; //80px
    img {
      height: 32px;
    }
    button {
      display: inline-block;
      width: 200px;
      height: 50px;
      padding: 0;
      padding-bottom: 2px;
      border: none;
      border-radius: 50px;
      outline: inherit;
      cursor: pointer;
      font-family: $openSans;
      font-size: 14px;
      font-weight: 700;
      text-align: center;
      text-decoration: none;
      box-shadow: 0px 3px 5px hsl(208, 11%, 55%, 20%);
      color: hsl(192, 100%, 9%);
      background-color: white;
      transition: all 0.12s ease-out;
      &:hover {
        color: $gray;
      }
    }
  }
  &__main {
    display: flex;
    justify-content: space-between;
    padding: 60px 5.55vw; //80px
    color: $darkCyan;
    &__text {
      padding: 97px 70px 30px 0;
      h1 {
        width: 500px;
        margin-bottom: 30px;
        font-size: 40px;
        font-weight: 600;
        font-family: $poppins;
      }
      p {
        width: 510px;
        padding-bottom: 33px;
        font-family: $openSans;
        line-height: 1.5;
      }
      button {
        display: inline-block;
        width: 280px;
        height: 55px;
        padding: 0;
        padding-bottom: 3px;
        border: none;
        border-radius: 50px;
        outline: inherit;
        cursor: pointer;
        font-family: $openSans;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.01em;
        text-align: center;
        text-decoration: none;
        box-shadow: 0px 3px 5px hsl(208, 11%, 55%, 30%);
        color: white;
        background-color: $pink;
        transition: all 0.12s ease-out;

        &:hover {
          background-color: hsl(322, 100%, 66%, 50%);
        }
      }
    }
    img {
      height: 495px; //; 34.37vw
    }
  }
}
