@media screen and (max-width: 800px) {
  body {
    padding: 6.13vw 2.66vw; //23px 10px;
  }
  .hero {
    padding: 20px 4.53vw 2px; //17px
    margin: -6.13vw -2.66vw 50px; //-23px -10px
    background: url(/images/bg-hero-mobile.svg) $paleCyan;
    header {
      padding: 0 0px 55px;
      img {
        height: 17px;
      }
      button {
        width: 95px;
        height: 24px;
        font-size: 0.6em;
        letter-spacing: -0.01em;
        font-weight: 700;
      }
    }
    &__main {
      display: block;
      padding: 30px 20px;
      &__text {
        padding: 0;
        margin-bottom: 55px;
        text-align: center;
        h1 {
          width: 100%;
          max-width: 400px;
          margin: 0 auto 22px;
          font-size: 24px;
        }
        p {
          width: 100%;
          max-width: 600px;
          margin: 0 auto;
          font-size: 16px;
        }
        button {
          width: 79%;
          max-width: 270px;
          height: 40px;
          font-size: 12px;
          font-weight: 700;
        }
      }
    }
    .mainImg {
      display: block;
      height: 58vw;
      margin: 0 auto;
    }
  }
  ///sections////////
  .sections {
    padding: 10px 10px 80px;
    .section {
      flex-direction: column;
      flex-flow: column-reverse;
      justify-content: left;
      height: auto;
      padding: 0;
      img {
        height: 52vw;
        max-height: 270px;
        margin: 55px 0;
      }
      .box {
        padding: 0 30px 30px;
        text-align: center;
        h2 {
          margin-bottom: 15px;
          font-size: 20px;
        }
        p {
          width: 100%;
          max-width: 550px;
          font-size: 14px;
          line-height: 1.5;
        }
      }
      &:nth-child(2) {
        flex-flow: column-reverse;
        .box {
          padding: 0 40px 50px;
        }
        img {
          height: 46vw;
          margin: 65px 0;
        }
      }
      &:nth-child(3) {
        img {
          height: 49vw;
          margin-top: 60px;
        }
        .box {
          padding: 0 45px 35px;
        }
      }
    }
  }
  ////cta /////
  .cta {
    width: 100%;
    max-width: 500px;
    height: 176px;
    margin: 0 auto -70px;
    // padding-top: 30px;
    .actualDiv {
      padding-top: 45px;
      h3 {
        margin-bottom: 24px;
        font-size: 18px;
      }
      button {
        width: 200px;
        height: 40px;
        font-size: 11px;
        padding-bottom: 2px;
      }
    }
  }
  ////footer/////
  .footer {
    height: 850px;
    margin: -8vw -2.66vw; //-30px -10px
    padding: 145px 4vw 50px; //15px
    .logo {
      height: 26px;
      width: auto;
      margin-bottom: 20px;
    }
    &__columns {
      display: block;
      .column {
        &:nth-child(1) {
          width: 100%;
          padding-right: 10px;
          margin-bottom: 60px;
        }
        &:nth-child(2) {
          padding-left: 0;
        }
        &:nth-child(4) {
          width: 100%;
          .socialLinks {
            margin: 35px auto 25px;
          }
          p {
            font-size: 11px;
            text-align: center;
          }
        }
      }
    }
  }
}
