.sections {
  max-width: 1700px;
  margin: 0 auto;
  padding: 11.11vw 7.29vw 8.33vw; //160px 105px 120px
  .section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 440px;
    margin-bottom: 40px;
    padding: 0 25px 0 8.33vw; //120px
    border-radius: 16px;
    box-shadow: 0 0px 10px hsl(208, 25%, 90%, 80%);
    .box {
      padding: 0 9vw 0 0; //160px
      h2 {
        font-family: $poppins;
        font-size: 28px;
        font-weight: 600;
        color: $darkCyan;
        margin-bottom: 11px;
      }
      p {
        max-width: 500px;
        font-family: $openSans;
        line-height: 1.6;
        color: $gray;
      }
    }
    img {
      height: 76%;
    }
    &:nth-child(2) {
      flex-flow: row-reverse;
      .box {
        padding: 0 0 0 100px;
      }
      img {
        height: 68%;
      }
    }
    &:nth-child(3) {
      img {
        height: 72%;
      }
    }
  }
}
